.container {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.main {
  display: flex;
  flex: 1;
  width: 100%;
  color: var(--foreground);
}

@media (min-width: 640px) {
  .container {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
